body{
    margin:0;
    padding:0;
    display:flex;
    height:100vh;
    background-image: radial-gradient(circle at 50% 100%, #1b1b35, #121225);
}

.left-section {
    width: 40%;
}

.right-section {
    width: 60%;
    display:flex;
   justify-content: center;
}

 
.message{
    font-weight: 1000;
    letter-spacing: 3px;
    font-family: "Mountains of Christmas", cursive;
    font-size: 6vw;
    text-align: center;
    z-index: -1;
}

  .red {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .canvas {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
  
  
  